* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #1b1b1b;
  opacity: 0.9;
  font-size: 14px;
  font-family: 'Pt Sans', Arial, Verdana, sans-serif;
  z-index: 1;
}
header a {
  display: inline-block;
  height: 55px;
  color: #fff;
  font-size: 18px;
  line-height: 55px;
  padding: 0 10px;
}
header #logo {
  margin-right: 15px;
}
header #logo span {
  padding-right: 3px;
  color: #49a0ff;
  font-size: 20px;
}
header #login {
  float: right;
}
header #login span {
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 5px 15px;
  transition: .3s;
}
header #login span:hover {
  background: #fff;
  color: #1b1b1b;
}
header #jobs {
  float: right;
  margin-right: 40px;
}
.teaser {
  background-image: url('../img/teaser-cover.jpg');
  width: 100%;
  height: 600px;
  color: #fff;
}
.teaser p {
  padding-left: 10px;
}
.teaser .title {
  padding-top: 200px;
  margin-left: 6%;
  font-size: 40px;
  font-family: 'Pt Sans', Arial, Verdana, sans-serif;
}
.teaser .sub-title {
  margin-top: 20px;
  font-size: 22px;
  font-family: 'Pt Sans', Arial, Verdana, sans-serif;
}
.teaser .join-button {
  position: relative;
  margin-top: 40px;
  margin-left: 23%;
  font-size: 28px;
  border: 3px solid #fff;
  border-radius: 2px;
  padding: 10px 20px;
  width: 245px;
  cursor: pointer;
  font-family: 'Pt Sans', Arial, Verdana, sans-serif;
}
.topics a {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 9.625%;
  min-width: 100px;
  white-space: nowrap;
  line-height: 40px;
  padding: 2px 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #fff;
  margin-left: -4px;
}
.topics #all {
  background: #3F7CAC;
  margin: 0;
}
.topics #all:hover span {
  visibility: visible;
}
.topics #all span {
  visibility: hidden;
}
.topics #java {
  background: #ED652E;
}
.topics #java:hover span {
  visibility: visible;
}
.topics #java span {
  visibility: hidden;
}
.topics #cpp {
  background: #98C741;
}
.topics #cpp:hover span {
  visibility: visible;
}
.topics #cpp span {
  visibility: hidden;
}
.topics #php {
  background: #00acee;
}
.topics #php:hover span {
  visibility: visible;
}
.topics #php span {
  visibility: hidden;
}
.topics #js {
  background: #777777;
}
.topics #js:hover span {
  visibility: visible;
}
.topics #js span {
  visibility: hidden;
}
.topics #html {
  background: #ff8392;
}
.topics #html:hover span {
  visibility: visible;
}
.topics #html span {
  visibility: hidden;
}
.topics #css {
  background: #48962B;
}
.topics #css:hover span {
  visibility: visible;
}
.topics #css span {
  visibility: hidden;
}
.topics #jquery {
  background: #F2BC52;
}
.topics #jquery:hover span {
  visibility: visible;
}
.topics #jquery span {
  visibility: hidden;
}
.topics #ios {
  background: #32B9B9;
}
.topics #ios:hover span {
  visibility: visible;
}
.topics #ios span {
  visibility: hidden;
}
.topics span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background: #000;
  opacity: 0.3;
  visibility: hidden;
}
.features .features-title {
  margin: 70px 0 40px;
  text-align: center;
  font-size: 34px;
  font-family: 'Pt Sans', Arial, Verdana, sans-serif;
}
.features .items-container {
  padding-left: 8%;
  padding-bottom: 45px;
}
.features .item {
  display: inline-block;
  width: 220px;
  height: 350px;
  margin: 5px 15px;
  font-family: 'Pt Sans', Arial, Verdana, sans-serif;
  border: 2px solid #1b1b1b;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}
.features .item .item-header {
  font-size: 26px;
  margin: 5px 0 35px;
}
.features .item .item-text {
  font-size: 18px;
  min-height: 105px;
}
.features .item .quiz {
  margin-left: 38px;
  width: 125px;
  height: 125px;
  background: url("../img/sprite2.png") 0px 0px no-repeat;
}
.features .item .interview {
  margin-left: 38px;
  width: 125px;
  height: 125px;
  background: url("../img/sprite2.png") 0px -125px no-repeat;
}
.features .item .article {
  margin-left: 38px;
  width: 125px;
  height: 125px;
  background: url("../img/sprite2.png") -125px 0px no-repeat;
}
.features .item .graduate {
  margin-left: 38px;
  width: 125px;
  height: 125px;
  background: url("../img/sprite2.png") -125px -125px no-repeat;
}
.features .item:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
}
.join-section {
  background: #ED652E;
  color: #fff;
  font-family: 'Pt Sans', Arial, Verdana, sans-serif;
}
.join-section p {
  line-height: 3;
  float: left;
  font-size: 20px;
}
.join-section .register-button {
  float: right;
  margin-top: 12px;
  padding: 8px 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}
.join-section .register-button:hover {
  background: #fff;
  color: #ED652E;
}
.join-section :after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
}
.stats {
  background: url("../img/stats-cover.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'Pt Sans', Arial, Verdana, sans-serif;
}
.stats .bg {
  background: rgba(0, 0, 0, 0.8);
}
.stats .stats-title {
  position: relative;
  text-align: center;
  padding-top: 70px;
  font-size: 30px;
  color: #fff;
  z-index: 2;
}
.stats .stats-item {
  display: inline-block;
  margin: 20px 50px;
  width: 158px;
  text-align: center;
}
.stats .stats-item span {
  color: #fff;
  font-size: 40px;
}
.stats .stats-item p {
  font-size: 22px;
  text-align: center;
  color: #62AEB9;
}
.stats .stats-item p .fa {
  font-size: 28px;
  padding-bottom: 10px;
}
.stats .stats-container {
  padding: 40px 17%;
}
.stats .main-stat {
  text-align: center;
  padding-bottom: 70px;
}
.stats .main-stat span {
  color: #fff;
  font-size: 40px;
}
.stats .main-stat p {
  font-size: 22px;
  color: #98C741;
}
.stats .main-stat p .fa {
  font-size: 28px;
  padding-bottom: 10px;
}
.job-trend {
  margin-bottom: 90px;
}
.job-trend .title {
  font-size: 36px;
  margin-top: 90px;
}
.job-trend .sub-title {
  font-size: 20px;
  margin: 25px 0 50px;
}
.job-trend a {
  display: inline-block;
  font-size: 20px;
  padding: 7px 10px;
  border: 2px solid #3F7CAC;
  border-radius: 2px;
  margin: 3px 5px;
  color: #3F7CAC;
  transition: .3s;
}
.job-trend a:hover {
  color: #1042ac;
  border-color: #1042ac;
}
footer {
  border-top: 4px solid #4f535c;
  background: #24262b;
  color: #fff;
  padding: 40px 0;
}
footer .section {
  float: left;
  height: 150px;
  display: inline-block;
  margin: 0 20px;
}
footer .section h3 {
  font-weight: normal;
  margin-bottom: 10px;
}
footer .section a {
  display: block;
  margin-bottom: 5px;
  color: #adadad;
  transition: 0.3s;
}
footer .section a:hover {
  color: #fff;
}
